{% load static %}

<HTML>
    <HEAD>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <LINK REL=STYLESHEET HREF="{% static 'css/main.css' %}">
        {% block head_block %}{% endblock %}
    </HEAD>
    <BODY>
        <ul class=navigation>
            <li><A HREF="/">Nodes</A></li>
        </ul>
        {% block body_block %}{% endblock %}
    </BODY>
</HTML>
