{% include 'navigation.html' %}
<ul>
{% for bill in bills %}
    <li>
        {{ bill.billid }}<br>
<!--         {{ bill.text }}<br> -->
    </li>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if bills.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ bills.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ bills.number }} of {{ bills.paginator.num_pages }}.
        </span>

        {% if bills.has_next %}
            <a href="?page={{ bills.next_page_number }}">next</a>
            <a href="?page={{ bills.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>