{% load static %}
<HTML>
    <HEAD>
        <LINK REL=STYLESHEET HREF="{% static 'css/main.css' %}">
        {% block head_block %}{% endblock %}
    </HEAD>
</HTML>
<ul class=navigation>
    <li><A HREF="/">Nodes</A></li>
    <li><A HREF="/upload">Upload data</A></li>
</ul>
