{% include 'navigation.html' %}

<h1>Bills</h1>
<ul>
{% for bill in object_list %}
    <li>{{ bill.billid }}<a href='/billdetail/{{ bill.pk }}'><sub>[detail]</sub></a></li>
{% empty %}
    <li>No bills yet.</li>
{% endfor %}
</ul>

{% include 'pagination_footer.html' %}
