<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <title>Information for bill {{ object.billid }}</title>
</head>
<body>
  <div id="vis"></div>
  <script type="text/javascript">
    {% autoescape off %}
    var spec = {{ bill_chart.interactive.to_json }}
    {% endautoescape %}
    var opt = {"renderer": "canvas", "actions": true};
    vegaEmbed("#vis", spec, opt);
  </script>
    <h1>{{ object.billid }}</h1>
    <pre>{{ object.text }}</pre>
</body>
</html>
