{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<div class="container">
    <div class="col-sm-9">
        <div class="row">
            <PRE>{{ text }}</PRE>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="row h-50">
            {% for sentence in sentences %}
            {{ sentence|join:" " }}
            {% endfor %}
        </div>
        <div class="row h-50">
            Row2
        </div>
    </div>
</div>

{% endblock %}