{% include 'navigation.html' %}
<h1>Feature Types</h1>
<table border=1px>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{{ obj.name }}</td>
    </tr>
    
{% empty %}
    <tr>
        <td>No data yet.</td>
        <td>No data yet.</td>
    </tr>
{% endfor %}
</table>

{% include 'pagination_footer.html' %}
