{% include 'navigation.html' %}
<h1>Nodes</h1>
<table border=1px>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>In degree</th>
        <th>Out degree</th>
        <th>Parsed</th>
        <th>Hash</th>
        <th>Path</th>
        <th>Image</th>
        <th>Del</th>
        <th>Graph</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <td>{{ obj.identity }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.labels }}</td>
        <td>{{ obj.in_degree }}</td>
        <td>{{ obj.out_degree }}</td>
        <td>{{ obj.parsed }}</td>
        <td>{{ obj.nodehash.hash }}</td>
        <td>{{ obj.path }}</td>
        <td>{% if obj.glovepath is not None %}<img src="/nodeimage/{{obj.pk}}">{% endif %}</td>
        <td><A HREF='/delete_node/{{ obj.pk }}/'>[x]</A></td>
        <td><A HREF='/node_as_graph/{{ obj.pk }}/'>[g]</A></td>
    </tr>
    
{% empty %}
    <tr>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
    </tr>
{% endfor %}
</table>

{% include 'pagination_footer.html' %}
