{% extends 'base.html' %}
{% load static %}
{% block head_block %}
        <link href="{% static 'css/graph-style.css' %}" rel="stylesheet" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <script src="{% static '/js/cytoscape.min.js' %}"></script>

    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

    <script src="{% static '/js/dagre.min.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/cytoscape-dagre.js' %}"></script>
{% endblock %}
{% block body_block %}
    <div id="nodeinfo">{{ node.name }}</div>
    <div id="navigation">
        {% if sentence > 0 %}
        <A HREF='/node_as_graph/{{ node.identity }}/{{ sentence|add:"-1" }}'>prev</A>
        {% endif %}
        <select name='sentence' onchange="window.location.href='/node_as_graph/{{ node.identity}}/' + this.value">
            {% for s in available_sentences %}
            <option value={{ s }}{% if s == sentence %} selected {% endif %}>{{ s }}</option>
            {% endfor %}

        </select>
        {% if sentence < available_sentences|length|add:"-1" %}
        <A HREF='/node_as_graph/{{ node.identity }}/{{ sentence|add:"1" }}'>next</A>
        {% endif %}
    <div id="cy"></div>
    <!-- Load application code at the end to ensure DOM is loaded -->
<!--     <script src="{% static 'js/graph-code.js' %}"></script> -->
<!--     {{ node.id }} -->
    <script>
        $.getJSON("/nodegraph/{{ node.identity }}/{{ sentence }}", function (data) {
var cy = window.cy = cytoscape({
  container: document.getElementById('cy'),

  boxSelectionEnabled: false,
  autounselectify: true,

  layout: {
    name: 'dagre'
  },

  style: [
    {
      selector: 'node',
      style: {
        'content': 'data(label)',
        'text-opacity': 0.5,
        'text-valign': 'center',
        'text-halign': 'right',
        'background-color': '#11479e',
        'text-wrap': 'wrap'
      }
    },
    {
      selector: 'edge',
      style: {
        'curve-style': 'bezier',
        'width': 4,
        'target-arrow-shape': 'triangle',
        'line-color': '#9dbaea',
        'target-arrow-color': '#9dbaea'
      }
    }
  ],

  elements: data.elements,
});
// cy.on('tap', 'node', function(){
//     window.location.href = '/node_as_graph/' + this.data('id');
// });
        });</script>
{% endblock %}
