{% include 'navigation.html' %}
<h1>Nodes</h1>
<table border=1px>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Mimetype</th>
        <th>Labels</th>
        <th>Parsed</th>
        <th>Sentences</th>
        <th>Graph</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <td>{{ obj.identity }}</td>
        <td><A HREF='/bill_node/{{ obj.identity }}'>{{ obj.name }}</td>
        <td>{{ obj.mimetype }}</td>
        <td>{{ obj.labels }}</td>
        <td>{{ obj.parsed }}</td>
        <td>{{ obj.sentences }}</td>
        <td><A HREF='/node_as_graph/{{ obj.identity }}/0'>[g]</A></td>
    </tr>
    
{% empty %}
    <tr>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
        <td>No data yet.</td>
    </tr>
{% endfor %}
</table>

{% include 'pagination_footer.html' %}
