{% include 'navigation.html' %}
<h1>Pending Jobs</h1>
<ul>
{% for pendingjob in object_list %}
    <li>{{ pendingjob.bill.billid }}, {{ pendingjob.model.type }}</li>
{% empty %}
    <li>No pending jobs yet.</li>
{% endfor %}
</ul>

{% include 'pagination_footer.html' %}
