{% include 'navigation.html' %}

<h1>Run a Model</h1>
<FORM ACTION={% url 'submit_job' %} method=POST>
    {% csrf_token %}
    The generated features will be stored in a dictionary-like object for later retrieval.
    Please specify the key under which to store these results:<BR/>
    <input type="hidden" name="model_id" value={{ object.pk }}>
    <input name="key" type="text" value="{{ object.type }}"><BR/>
    <input type="submit", value="Schedule"><BR/>
    The selected {{ object.type }} model will be scheduled run against all bills.
</FORM>
