{% include 'navigation.html' %}
<h1>Models</h1>
<ul>
{% for model in object_list %}
    <li>
        {{ model.type }}, {{ model.output_size }} dimensions
        <a href='/runmodel/{{ model.pk }}'><sub>[run]</sub></a>
    </li>
{% empty %}
    <li>No models yet.</li>
{% endfor %}
</ul>

{% include 'pagination_footer.html' %}
